<h1>全ての生産者</h1>
<% @producers.each do |producer| %>
	<table border='1'>
	  <caption></caption>
	  <thead>
	    <tr><th>住所</th><th>生産者</th></tr>
	  </thead>
	  <tbody>
	    <tr><td><%= producer.a_address %></td>
    	<td><%= link_to producer.producer_name, producer_path(producer.id)%></td></tr>
	  </tbody>
	</table>
<% end %>
