/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require leaflet
 *= require leaflet.markercluster
 *= require leaflet.markercluster.default
 */

@import "bootstrap-sprockets";
@import "bootstrap";

div.sample1 {
  width: 50px;
  color: white;
  background: aqua;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  perspective: 1000px;
  transform: translate3d(150px, 30px, 0px) rotateY(0deg) scale3d(2,2,2);
  animation: divAnimation 3s ease-in-out infinite alternate;
  border-radius: 10px;
}

@keyframes divAnimation {
  0% {
    background: aqua;
    transform: translate3d(150px, 30px, 0px) rotateY(0deg) scale3d(2,2,2);   
  }
  50% {
    background: blue;
    transform: translate3d(175px, 40px, 50px) rotateY(180deg) scale3d(1.75,1.75,1.75);    
  }
  100% {
    background: navy;
    transform: translate3d(200px, 50px, 100px) rotateY(0deg) scale3d(1.5,1.5,1.5);    
  }
}