<h5></h5>
	<%= attachment_image_tag @product, :product_image, :fill, 100, 100, format: 'jpeg' ,fallback: "no_image.jpg"%>
<h5></h5>
  <%= @product.product_name %>
<h5></h5>
	<%= @product.detail %>
<h5></h5>
